<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Динозавр</title>
</head>
<body class="body">

    <header>

        <h1>Моя первая домашка)</h1>
        <h2><a href="http://localhost:8000/first/">First page</a> <a href="http://localhost:8000/second/">Second page</a> <a href="http://localhost:8000/third/">Third page</a></h2>
        <h3 class="description">Диноза́вры (лат. Dinosauria, от др.-греч. δεινός — страшный, ужасный, опасный и σαύρα — ящер, ящерица.) — вымершие животные, составляющие многочисленный надотряд класса пресмыкающихся, обитавшие на Земле в период с 225 до 65 млн лет назад (в мезозойскую эру).</h3>

    </header>

    <div>

        <h3>Спинозавр</h3>

        <img class="img" src="https://static.wikia.nocookie.net/prenistoricpark/images/c/cb/51edf7fd92ef705120f170427b8dab80.jpg/revision/latest?cb=20201025150129&path-prefix=ru" style="width: 500px" alt="Спинозавр">

        <p>Спинозавр — представитель семейства <b>спинозаврид</b> , обитавший на территории современной Северной Африки в меловом периоде. Впервые этот вид динозавров был описан по найденным в Египте ископаемым остаткам немецким палеонтологом Эрнстом Штромером в 1915 году, который привёз скелет в Мюнхен</p>

        <h4>
            <a class="link" href="https://ru.wikipedia.org/wiki/%D0%A1%D0%BF%D0%B8%D0%BD%D0%BE%D0%B7%D0%B0%D0%B2%D1%80" target="_blank"><i>Доп информация</i></a>
        </h4>


        <h3>Тираннозавр</h3>

        <img class="img" src="https://icdn.lenta.ru/images/2019/08/31/19/20190831193821347/wide_43660616071350a716f9252a290c68aa.jpg" style="width: 500px"; alt="Тираннозавр">

        <p>Тиранноза́вр — род плотоядных тероподовых динозавров из семейства <em>тираннозаврид</em>, включающий единственный валидный вид — <strong>Tyrannosaurus rex</strong>. Обитал в западной части Северной Америки, которая в те времена представляла собой остров Ларамидию, и был наиболее распространённым из тираннозаврид </p>

        <h4>
            <a class="link" href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B8%D1%80%D0%B0%D0%BD%D0%BD%D0%BE%D0%B7%D0%B0%D0%B2%D1%80" target="_blank"><i>Доп информация</i></a>
        </h4>


        <h3>Брахиозавр</h3>

        <img class="img" src="https://static.wikia.nocookie.net/prenistoricpark/images/0/09/Brachiosaurus-wallpaper.jpg/revision/latest?cb=20160508073710&path-prefix=ru" style="width: 500px"; alt="Брахиозавр">


        <p>Брахиоза́вр — род завроподовыхst <i>динозавров</i>, живших на территории современной Северной Америки в конце юрского периода, около 154—153 млн лет назад. Включает единственный вид — <strong>Brachiosaurus altithorax</strong> </p>

        <h4>
            <a class="link" href="https://ru.wikipedia.org/wiki/%D0%91%D1%80%D0%B0%D1%85%D0%B8%D0%BE%D0%B7%D0%B0%D0%B2%D1%80" target="_blank"><i>Доп информация</i></a>
        </h4>

    </div>

    <div>

        <h3>Топ 5 фильмов про динозавров</h3>

        <ol>
            <a class="link_movie" href="https://www.kinopoisk.ru/film/7121/" target="_blank"><li>"Парк юрского периода" (1993)</li></a>
            <a class="link_movie" href="https://www.kinopoisk.ru/film/594554/" target="_blank"><li>"Мир юрского периода" (2015)</li></a>
            <a class="link_movie" href="https://www.kinopoisk.ru/film/5602/" target="_blank"><li>"Затерянный мир" (1992)</li></a>
            <a class="link_movie" href="https://www.kinopoisk.ru/film/4473/" target="_blank"><li>"И грянул гром" (2005)</li></a>
            <a class="link_movie" href="https://www.kinopoisk.ru/film/691622/" target="_blank"><li>"Проект Динозавр" (2012)</li></a>
        </ol>

        <h3>Топ 5 книг про динозавров</h3>

        <ul class="book">
            <li>Большая энциклопедия.Динозавры</li>
            <li>1000 динозавров с наклейками</li>
            <li>Динозавры. 150 000 000 лет господства на Земле</li>
            <li>Заповедник. Наследники динозавров</li>
            <li>Время динозавров. Новая история древних ящеров</li>
        </ul>

    </div>

    <div>
        <h3>Оставьте ваши данные для получение подробной информации</h3>

            <form>

                <label>
                    Имя
                    <input type="text">
                </label>

                <label>
                    Почта
                    <input type="text">
                </label>

                <button type="submit">отправить</button>
                <button type="reset">очистить</button>

            </form>

    </div>

    <footer>
        <div>
            <p>Наши контакты</p>

            <ul>
                <li class="contacts">Почта:repsaid@gmail.com</li>
                <li class="contacts">Офис:Нету офиса </li>
                <li class="contacts">Контактые номера:+996 704-184-504</li>
                <li class="contacts">Whatsapp:+996 704-184-504</li>
                <li class="contacts">Telegram:@Said_Aka</li>
            </ul>

        </div>
    </footer>
</body>
</html>